body {
    font-family: Arial, Verdana;
    background: #000000;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}

h1 {
    text-align: center;
    font-size: 42px;
    padding: 15px;
}

h2 {
    color: #0D0D0D;
    font-size: 30px;
}

p{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}

img{
    width: 250px;
    display: block;  
    margin-right: auto;  
    margin-left: auto; 
    border: dashed 10px #ffffff;
}

div{
    min-height: 125px;
    padding: 20px;
    border: solid 3px #ffffff;
}

.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

.red{
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-top: solid 0px #ffffff;
    border-right: solid 0px #ffffff; 
    border-left: solid 5px #ffffff;
    border-bottom: solid 2px #ffffff;
}

.blue{
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-top: solid 2px #ffffff;
    border-right: solid 5px #ffffff; 
    border-left: solid 0px #ffffff;
    border-bottom: solid 0px #ffffff;
    color: #C4C4C4;
}

.blue h2 {
    color: #C4C4C4;
    font-size: 30px;
}

.yellow{
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-top: solid 0px #ffffff;
    border-right: solid 0px #ffffff; 
    border-left: solid 5px #ffffff;
    border-bottom: solid 2px #ffffff;
    color: #707070;
}

.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-top: solid 2px #ffffff;
    border-right: solid 5px #ffffff; 
    border-left: solid 0px #ffffff;
    border-bottom: solid 0px #ffffff;
}

footer{
    background-image: linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000);
    border: solid 5px #ffffff;
    font-size: 20px;
    text-align: right;
    padding-top: solid 15px linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000);
    padding-right: solid 15px linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000);
    padding-bottom: solid 15px linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000);
    padding-left: solid 0px linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000);
}
